# Preparation of data for traning and testing the model

## Required Libraries

In [1]:
import numpy as np
import pandas as pd

## Importing of given DataSet

In [2]:
df_i = pd.read_csv('Amazon - Movies and TV Ratings.csv')

df_i.describe()
df_i.count().notnull
narry= df_i.fillna(0).astype(bool).sum(axis=1).to_numpy()
narry.sum()

9848

In [3]:
df_i

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,A1IMQ9WMFYKWH5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4844,A1KLIKPUF5E88I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4845,A5HG6WFZLO10D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4846,A3UU690TWXCG1X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4847,AI4J762YI6S06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

## Creating a Dataframe based on the above dataset

In [5]:
colunm_name = ['userid','movieid','rating']
df_f =pd.DataFrame(columns=colunm_name)

df_f.head()

Empty DataFrame
Columns: [user, movie, rating]
Index: []

In [ ]:
df_i = pd.read_csv('Amazon - Movies and TV Ratings.csv')

colunm_name = ['user','movie','rating']
df_f =pd.DataFrame(columns=colunm_name)
            
def add_data_to_df_f():

    str_movie = 'Movie'
    for i in range(4848):
        user_id=df_i['user_id'][i]
        for j in range(206):
            str_movie_no = str(j+1)
            
            if(df_i[str_movie+str_movie_no][i]!=0):
                df_f.loc[len(df_f.index)]=[user_id,j+1,df_i[str_movie+str_movie_no][i]]
        

add_data_to_df_f()

## Saving the new DataFrame as a .csv file

In [ ]:
df_f.to_csv('user-movie-rating 5000*3.csv')